    <div class="navbar-collapse collapse inverse" id="navbar-header">
      <div class="container-fluid">
        <div class="about">
          <h4>About me</h4>
          <p class="text-muted">I am an experienced web developer with a passion for learning and writing clean code. I take pride in the work that I deliver and always strive to adhere to best practices. I am happiest building software that delivers value quickly, using modern techniques and principles, responding to change I enjoy working closely with stakeholders to get fast feedback. From all the skills I have learnt I would have to say the area I enjoy the most is RoR. Keeping ahead with the constantly evolving gems which makes it an exciting challenge.</p>
        </div>
        <div class="social">
          <h4>Contact</h4>
          <p class="text-muted">You can reach me on social media or call me using the details below. Better yet just drop me a line below and I will get back to asap !</p>
          <ul class="list-unstyled">

            <li><a href="https://twitter.com/nyombironald" target="__blank"><i class="fa fa-twitter fa-sm"></i> Follow on Twitter</a></li>
            <li><a href="https://fb.com/little.phild" target="__blank" ><i class="fa fa-facebook fa-sm"></i> Like on Facebook</a></li>
            <li><a href="#"><i class="fa fa-email fa-sm"></i> littlephild at live dot com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar navbar-static-top navbar-dark bg-inverse">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <a href="#" class="navbar-brand">theBlog</a>
      </div>
    </div>

    <section class="jumbotron text-xs-center">
      <div class="container">
        <h1 class="jumbotron-heading">Ruby on Rails Tutorials</h1>
        <p class="lead text-muted">Ruby on Rails is an extremely productive web application framework written in Ruby by David Heinemeier Hansson. This tutorial gives you a complete understanding on Ruby on Rails.</p>
        <p>
          <a href="#" class="btn btn-outline-primary">View Blog</a>
          <a href="#" class="btn btn-outline-secondary">Contact Us</a>
        </p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="row" id="article_containers">
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>

          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>

          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>

      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-xs-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; <%= Time.now.year %></p>
      </div>
    </footer>
